main {
    background-color: #fff;
}

.header-nav__button {
    width: 100%;
    align-items: center;
    height: 40px;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: solid 1px #ddd;
}


/* テーブル共通スタイル */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #c9b8a6;
    color: #fff;
    font-weight: normal;
}


.search-form {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.search-row {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr auto;
    gap: 15px;
    margin-bottom: 15px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.search-btn {
    background-color: #8a7a66;
    color: white;
}

.search-btn:hover {
    background-color: #776a59;
    border-color: #8a7a66;
}

.reset-btn {
    background-color: #8a7a66;
    color: white;
}

.reset-btn:hover {
    background-color: #b8a795;
}

/* エクスポートボタン */
.export-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.export__btn {
    background-color: #e1dbd6;
    color: #8B7969;
    font-weight: 400;
}

.btn {
    display: block;
    padding: 8px 32px;
    border: none;
    background-color: #82756a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.contacts-table {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.contact-table__header {
    background-color: #8a7a66;
    color: white;
    font-weight: normal;

}

.header-name {
    width: 20%;
}
.header-gender {
    width: 10%;
}
.header-mail {
    width: 20%;
}
.header-detail {
    width: 40%;
}
.header-modal {
    width: 10%;
}


/*モーダル*/
.modal-open {
    display: inline-block;
    background-color: transparent;
    color: #8a7a66;
    border: 1px solid #c9b8a6;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 90%;
    border: 1px solid #8B7969;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
    transform: translate(-50%, -50%);
}
.modal__content {
    position: relative;
    padding: 64px 64px;
}
.modal-form__group {
    display: grid;
    margin-top: 12px;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
}
.modal-form__label {
    font-weight: bold;
}
.modal-form__delete-btn {
    margin: 64px auto 0;
    background-color: #BA370D;
    color: #fff;
}
.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    border: 1px solid #8B7969;
    border-radius: 50%;
    color: #8B7969;
    text-decoration: none;
    font-size: 22px;
}
/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    }

.pagination li {
    margin: 0 auto;
}

.pagination li:not(.active) {
    border: 1px solid #E0DFDE;
    padding: 4px 12px;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #8B7969;
    text-decoration: none;
}


.active {
    padding: 4px 12px;
    border: 1px solid #8B7969;
    background-color: #8B7969;
    color: #fff;
}


.date-wrapper {
    min-width: 140px;
}

.serch-form__date {
    width: 100%;
    padding: 8px 12px;
    background-color: #F4F4F4;
    border: solid 1px #e3ded9;

}